:root {
    --color1: #2082CE;
    --color2: #084C80;
    --color3: #DBDBDB;
    --color4: #3D3D3D;
    --color5: #D3E7F6;
    --font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat' !important;
    font-weight: normal;
    font-size: 16px;
    color: var(--color1);
    margin: 0;
    line-height: 0.5;
    text-align: left;
    background-color: #fff;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2)
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y)
}

h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--color2);
    line-height: 1;
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--color2);
    line-height: 1;
}

@media only screen and (max-width: 375px) {
    h1 {
        font-weight: bold;
        font-size: 30px;
    }
    h2 {
        font-weight: bold;
        font-size: 25px;
    }
    .body {
        font-size: 25px;
    }
    .row {
        width: 100%;
    }
}

#nav {
    background-color: var(--color3);
    height: 50px;
    position: fixed;
    width: 100%;
    vertical-align: middle;
    z-index: 2;
    margin: 0;
}


/* Dropdown */

.nav-item {
    height: 60px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -10px;
    right: 30px;
    display: inline-block;
}

.nav-item h2 {
    color: #3D3D3D;
    font-weight: normal;
}

.nav-item h2:hover {
    color: white;
}

.nav-item:hover {
    background-color: var(--color2);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    background-color: var(--color5);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    top: 100%;
    /* At the bottom of the tooltip */
    left: -45%;
}

.dropdown-content a {
    color: var(--color1);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--color5);
    color: var(--color2);
    font-weight: bold;
}

.nav-item:hover .dropdown-content {
    display: block;
}

#no {
    height: 1000px;
}

.btn {
    color: white;
    background-color: var(--color1);
    border-radius: est 10px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    border-width: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
}

.btn:hover {
    background-color: var(--color2);
}

textarea,
input,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    overflow: visible;
    border: 1px solid #3D3D3D;
    border-radius: 5px;
    font-style: normal;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 20px;
    width: 50%;
}

textarea {
    height: 150px;
    resize: none;
    overflow: visible;
    border: 1px solid #3D3D3D;
    border-radius: 5px;
    font-style: normal;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 20px;
    width: 50%;
    line-height: 1.3;
}

textarea:hover,
input:hover,
input:focus {
    border: 1px solid #2082CE;
}

::placeholder {
    color: #AFAFAF;
    font-size: 16px;
    font-weight: normal;
}

select {
    text-transform: none;
    overflow: visible;
    border: 1px solid #3D3D3D;
    border-radius: 5px;
    font-style: normal;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 20px;
    word-wrap: normal;
}

select:hover {
    border: 1px solid #2082CE;
}

select option {
    text-transform: none;
    overflow: visible;
    border: 1px #AFAFAF solid;
    border-radius: 5px;
    font-style: normal;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 20px;
    word-wrap: normal;
}

select option:hover {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: bold;
    border: 1px #AFAFAF;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

.floatleft {
    float: left;
    z-index: 2;
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px
}

.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px
}

.aligncenter {
    display: block;
    margin: 0 auto 15px
}

.clear {
    clear: both;
}


/* grids */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

#section1 {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    padding: 0;
    box-align: center
}

#welcome {
    margin: 120px auto 50px auto;
    text-align: left;
    float: left;
    width: 49%;
    /* border: 1px solid blue; */
}

#welcome p {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#welcome .circle-text {
    font-size: 15px;
    color: var(--color4);
    line-height: normal;
    font-weight: normal;
    padding: 70px;
    position: relative;
    left: -70px;
    top: -50px;
}

@media only screen and (max-width: 375px) {
    #section1 {
        width: 120%;
        margin: 0 auto;
    }
    .row {
        width: 110%;
        margin: 0 auto;
    }
    #no-circle-hover p,
    #lighter-circle-hover p,
    #light-circle-hoverr p,
    #dark-circle-hover p {
        line-height: 1;
        font-size: 25px;
    }
    p {
        line-height: 1;
        font-size: 25px;
    }
    #welcome p {
        line-height: 1;
        font-size: 25px;
    }
    #no-circle-hover,
    #lighter-circle-hover,
    #light-circle-hover,
    #dark-circle-hover,
    #shapes {
        width: 110% !important;
        margin-bottom: 0px !important;
        padding-top: 30px !important;
        padding-bottom: 0px !important;
    }
    #shapes2 {
        width: 110% !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
}

#lighter-circle-hover,
#light-circle-hover,
#dark-circle-hover {
    display: none;
}

#shapes {
    margin: 120px auto 50px auto;
    text-align: left;
    float: left;
    width: 49%;
    padding-left: 20px;
    /* border: 1px solid blue; */
    display: inline;
}

#shapes2 {
    margin: 120px auto 50px auto;
    text-align: left;
    float: left;
    width: 49%;
    padding-left: 20px;
    /* border: 1px solid blue; */
    display: none;
}

#circle-lighter {
    width: 115px;
    height: 115px;
    background: var(--color5);
    border-radius: 50%;
    margin-top: 320px;
    margin-right: 85px;
}

#circle-lighter2 {
    width: 115px;
    height: 115px;
    background: var(--color5);
    border-radius: 50%;
    margin-top: 320px;
    margin-right: 85px;
}

#circle-lighter:hover {
    width: 150px;
    height: 150px;
    margin-right: 50px;
}

#circle-light {
    width: 115px;
    height: 115px;
    background: var(--color1);
    border-radius: 50%;
    margin-top: 220px;
    margin-right: 85px;
}

#circle-light2 {
    width: 115px;
    height: 115px;
    background: var(--color1);
    border-radius: 50%;
    margin-top: 220px;
    margin-right: 85px;
}

#circle-light:hover {
    width: 150px;
    height: 150px;
    margin-right: 50px;
}

#circle-dark {
    width: 115px;
    height: 115px;
    background: var(--color2);
    border-radius: 50%;
    margin-top: 120px;
}

#circle-dark2 {
    width: 115px;
    height: 115px;
    background: var(--color2);
    border-radius: 50%;
    margin-top: 120px;
}

#circle-dark:hover {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 100px;
}

@media (max-width: 375px) {
    #noP {
        display: none !important;
    }
    #noP2 {
        display: inline !important;
    }
    #noP2,
    #noL,
    #noD,
    #noI {
        margin-top: 30px !important;
    }
    #shapes {
        width: 100%;
        display: none;
    }
    #shapes2 {
        width: 100%;
        display: inline;
        padding-top: 0px;
        margin-top: 0px;
    }
    #welcome {
        width: 100%;
        padding-top: 70px;
        margin-top: 0px;
    }
    #margin-section1 {
        margin-top: 0px !important;
    }
    #section1 {
        margin-left: 25px;
        margin-top: 0px;
    }
    #circle-lighter2 {
        margin-top: -50px !important;
        padding-top: 0px;
        margin-right: 85px;
    }
    #circle-dark2 {
        margin-top: 80px !important;
        padding-top: 0px;
        margin-left: 100px;
    }
    #circle-light2 {
        margin-top: -50px !important;
        padding-top: 0px;
    }
    .circle-text {
        margin-bottom: 0 !important;
    }
}

#section2 {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    padding: 0px 0px 50px 0px;
    box-align: center;
    /* background-color: var(--color5); */
}

#section2 h1 {
    padding-top: 50px;
}

.bg-color5 {
    background-color: var(--color5);
    /* border: 1px solid blue; */
}

.bg-color2 {
    background-color: var(--color2);
    /* border: 1px solid blue; */
}

.accordions {
    margin: 30px 25px 100px 25px;
    text-align: left;
    float: left;
    width: 45%;
    /* border: 1px solid blue; */
}

@media only screen and (max-width: 375px) {
    .bg-color5 {
        width: 140%;
        /* border: 1px solid blue; */
    }
    .accordions {
        width: 80%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #section-container-img {
        display: none !important;
    }
    .section-container {
        width: 100% !important;
    }
    .section-container p {
        font-size: 15px !important;
    }
    .section3 {
        width: 100% !important;
    }
}


/* accordion */

.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    text-transform: none;
    overflow: visible;
    border: 1px solid var(--color1);
    font-style: normal;
    color: var(--color1);
    font-size: 16px;
    font-weight: normal;
    padding: 15px 20px;
    word-wrap: normal;
    background-color: white;
    margin-top: 10px;
}

.accordion i {
    float: right;
}

.active,
.accordion:hover {
    border: 2px solid var(--color2);
    border-bottom: none;
}

.panel {
    background-color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    text-transform: none;
    overflow: visible;
    border: 1px solid var(--color1);
    border-top: none;
    font-style: normal;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 20px;
    word-wrap: normal;
    line-height: 1.3;
    display: none;
}

.panel p {
    background-color: white;
}

#section3 {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    padding: 0;
    box-align: center;
    /* background-color: var(--color5); */
}

.section-container {
    margin: 120px auto 50px auto;
    text-align: left;
    float: left;
    width: 49%;
    /* border: 1px solid blue; */
}

#section-3-form {
    clear: both;
    width: 100%;
    margin: 25px auto 50px auto;
}

#section-3-form input,
#section-3-form textarea {
    clear: both;
    margin: 5px 25%;
}

@media only screen and (max-width: 375px) {
    #section-3-form input,
    #section-3-form textarea {
        width: 80% !important;
        margin-left: 60px;
    }
    #section-3-form select {
        margin: 5px 20%;
    }
    #section-3-form button {
        margin-left: 110px !important;
    }
    .section-container h1 {
        margin-left: 100px !important;
    }
    .section-container p {
        margin-left: 90px !important;
    }
    #section3 {
        width: 100% !important;
    }
}

#section-3-form select {
    clear: both;
    margin: 5px 40%;
}

#section-3-form button {
    clear: both;
    margin: 5px 30%;
    position: relative;
    left: 78px;
}

@media only screen and (max-width: 375px) {
    #section4 {
        width: 100% !important;
        margin: 0 auto !important;
    }
    #section4 h1 {
        margin-left: 25px !important;
        margin-bottom: 25px;
    }
    .bg-color2 {
        width: 140%;
        height: 1300px;
        /* border: 1px solid blue; */
    }
}

#section4 {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    padding: 0;
    box-align: center;
    /* background-color: var(--color5); */
}

.section4-container {
    width: 80%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    margin: auto;
    text-align: left;
    background-color: white;
    color: #3D3D3D;
    margin: 0 0 15px 15px;
    border-radius: 5px;
    padding: 25px;
}

.card p {
    line-height: 1;
    font-size: 16px;
    color: #3D3D3D;
    padding: 0;
    margin: 0;
    position: relative;
    top: -10px;
}

.card h1 {
    line-height: 1;
    font-size: 16px;
    color: #3D3D3D;
    padding-top: 100px;
    padding-bottom: 0px;
    margin: 0;
}

#design {
    margin: 120px auto 50px auto;
    text-align: left;
    float: left;
    width: 100%;
    line-height: 1.3;
    /* border: 1px solid blue; */
}

#design p {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    caption-side: bottom;
    border-collapse: collapse;
    border: none;
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #6c757d;
    text-align: left
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    color: white;
    background-color: var(--color1);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-weight: normal;
    font-size: 30px;
    height: 35px;
}

tbody,
tfoot {
    padding: 25px;
    border: 1px solid var(--color1);
}

td {
    width: 500px;
    padding: 25px;
    border: 1px solid var(--color1);
}

ul li {
    list-style-type: circle;
    color: var(--color4);
    line-height: 1.3;
}

.center {
    display: block;
    margin: auto;
}

.design2 {
    /* border: 1px solid red; */
    height: 50px;
    width: 340px;
    padding: 10px;
    text-align: center;
}

.design2-content {
    /* border: 1px solid red; */
    height: 30px;
    width: 340px;
    padding: 10px;
    text-align: center;
}

.design2-content p {
    margin-top: 12px;
    color: var(--color4);
    font-size: 16px;
    font-weight: normal;
    word-wrap: normal;
}

.bg-white {
    background-color: white;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color2);
    opacity: 65%;
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: auto;
    font-size: 50px;
    color: white;
    line-height: 1;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#text p {
    font-size: 30px;
}

#text b {
    margin-left: 13%;
}


/* bootstrap */

.col {
    flex: 1 0 0%
}

.row-cols-auto>* {
    flex: 0 0 auto;
    width: auto
}

.row-cols-1>* {
    flex: 0 0 auto;
    width: 100%
}

.row-cols-2>* {
    flex: 0 0 auto;
    width: 50%
}

.row-cols-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%
}

.row-cols-4>* {
    flex: 0 0 auto;
    width: 25%
}

.row-cols-5>* {
    flex: 0 0 auto;
    width: 20%
}

.row-cols-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%
}

.col-auto {
    flex: 0 0 auto;
    width: auto
}

.col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

.offset-1 {
    margin-left: 8.3333333333%
}

.offset-2 {
    margin-left: 16.6666666667%
}

.offset-3 {
    margin-left: 25%
}

.offset-4 {
    margin-left: 33.3333333333%
}

.offset-5 {
    margin-left: 41.6666666667%
}

.offset-6 {
    margin-left: 50%
}

.offset-7 {
    margin-left: 58.3333333333%
}

.offset-8 {
    margin-left: 66.6666666667%
}

.offset-9 {
    margin-left: 75%
}

.offset-10 {
    margin-left: 83.3333333333%
}

.offset-11 {
    margin-left: 91.6666666667%
}

.g-0,
.gx-0 {
    --bs-gutter-x: 0
}

.g-0,
.gy-0 {
    --bs-gutter-y: 0
}

.g-1,
.gx-1 {
    --bs-gutter-x: 0.25rem
}

.g-1,
.gy-1 {
    --bs-gutter-y: 0.25rem
}

.g-2,
.gx-2 {
    --bs-gutter-x: 0.5rem
}

.g-2,
.gy-2 {
    --bs-gutter-y: 0.5rem
}

.g-3,
.gx-3 {
    --bs-gutter-x: 1rem
}

.g-3,
.gy-3 {
    --bs-gutter-y: 1rem
}

.g-4,
.gx-4 {
    --bs-gutter-x: 1.5rem
}

.g-4,
.gy-4 {
    --bs-gutter-y: 1.5rem
}

.g-5,
.gx-5 {
    --bs-gutter-x: 3rem
}

.g-5,
.gy-5 {
    --bs-gutter-y: 3rem
}

@media (min-width:576px) {
    .col-sm {
        flex: 1 0 0%
    }
    .row-cols-sm-auto>* {
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-sm-1>* {
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-sm-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-sm-4>* {
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-sm-5>* {
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-sm-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto
    }
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.3333333333%
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.6666666667%
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.3333333333%
    }
    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.6666666667%
    }
    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.3333333333%
    }
    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.6666666667%
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%
    }
    .offset-sm-0 {
        margin-left: 0
    }
    .offset-sm-1 {
        margin-left: 8.3333333333%
    }
    .offset-sm-2 {
        margin-left: 16.6666666667%
    }
    .offset-sm-3 {
        margin-left: 25%
    }
    .offset-sm-4 {
        margin-left: 33.3333333333%
    }
    .offset-sm-5 {
        margin-left: 41.6666666667%
    }
    .offset-sm-6 {
        margin-left: 50%
    }
    .offset-sm-7 {
        margin-left: 58.3333333333%
    }
    .offset-sm-8 {
        margin-left: 66.6666666667%
    }
    .offset-sm-9 {
        margin-left: 75%
    }
    .offset-sm-10 {
        margin-left: 83.3333333333%
    }
    .offset-sm-11 {
        margin-left: 91.6666666667%
    }
    .g-sm-0,
    .gx-sm-0 {
        --bs-gutter-x: 0
    }
    .g-sm-0,
    .gy-sm-0 {
        --bs-gutter-y: 0
    }
    .g-sm-1,
    .gx-sm-1 {
        --bs-gutter-x: 0.25rem
    }
    .g-sm-1,
    .gy-sm-1 {
        --bs-gutter-y: 0.25rem
    }
    .g-sm-2,
    .gx-sm-2 {
        --bs-gutter-x: 0.5rem
    }
    .g-sm-2,
    .gy-sm-2 {
        --bs-gutter-y: 0.5rem
    }
    .g-sm-3,
    .gx-sm-3 {
        --bs-gutter-x: 1rem
    }
    .g-sm-3,
    .gy-sm-3 {
        --bs-gutter-y: 1rem
    }
    .g-sm-4,
    .gx-sm-4 {
        --bs-gutter-x: 1.5rem
    }
    .g-sm-4,
    .gy-sm-4 {
        --bs-gutter-y: 1.5rem
    }
    .g-sm-5,
    .gx-sm-5 {
        --bs-gutter-x: 3rem
    }
    .g-sm-5,
    .gy-sm-5 {
        --bs-gutter-y: 3rem
    }
}

@media (min-width:768px) {
    .col-md {
        flex: 1 0 0%
    }
    .row-cols-md-auto>* {
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-md-1>* {
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-md-2>* {
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-md-5>* {
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-md-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-md-auto {
        flex: 0 0 auto;
        width: auto
    }
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.3333333333%
    }
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: 91.6666666667%
    }
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%
    }
    .offset-md-0 {
        margin-left: 0
    }
    .offset-md-1 {
        margin-left: 8.3333333333%
    }
    .offset-md-2 {
        margin-left: 16.6666666667%
    }
    .offset-md-3 {
        margin-left: 25%
    }
    .offset-md-4 {
        margin-left: 33.3333333333%
    }
    .offset-md-5 {
        margin-left: 41.6666666667%
    }
    .offset-md-6 {
        margin-left: 50%
    }
    .offset-md-7 {
        margin-left: 58.3333333333%
    }
    .offset-md-8 {
        margin-left: 66.6666666667%
    }
    .offset-md-9 {
        margin-left: 75%
    }
    .offset-md-10 {
        margin-left: 83.3333333333%
    }
    .offset-md-11 {
        margin-left: 91.6666666667%
    }
    .g-md-0,
    .gx-md-0 {
        --bs-gutter-x: 0
    }
    .g-md-0,
    .gy-md-0 {
        --bs-gutter-y: 0
    }
    .g-md-1,
    .gx-md-1 {
        --bs-gutter-x: 0.25rem
    }
    .g-md-1,
    .gy-md-1 {
        --bs-gutter-y: 0.25rem
    }
    .g-md-2,
    .gx-md-2 {
        --bs-gutter-x: 0.5rem
    }
    .g-md-2,
    .gy-md-2 {
        --bs-gutter-y: 0.5rem
    }
    .g-md-3,
    .gx-md-3 {
        --bs-gutter-x: 1rem
    }
    .g-md-3,
    .gy-md-3 {
        --bs-gutter-y: 1rem
    }
    .g-md-4,
    .gx-md-4 {
        --bs-gutter-x: 1.5rem
    }
    .g-md-4,
    .gy-md-4 {
        --bs-gutter-y: 1.5rem
    }
    .g-md-5,
    .gx-md-5 {
        --bs-gutter-x: 3rem
    }
    .g-md-5,
    .gy-md-5 {
        --bs-gutter-y: 3rem
    }
}

@media (min-width:992px) {
    .col-lg {
        flex: 1 0 0%
    }
    .row-cols-lg-auto>* {
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-lg-1>* {
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-lg-2>* {
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-lg-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-lg-4>* {
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-lg-5>* {
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-lg-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto
    }
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.3333333333%
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.6666666667%
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.3333333333%
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6666666667%
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%
    }
    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.3333333333%
    }
    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.6666666667%
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }
    .offset-lg-0 {
        margin-left: 0
    }
    .offset-lg-1 {
        margin-left: 8.3333333333%
    }
    .offset-lg-2 {
        margin-left: 16.6666666667%
    }
    .offset-lg-3 {
        margin-left: 25%
    }
    .offset-lg-4 {
        margin-left: 33.3333333333%
    }
    .offset-lg-5 {
        margin-left: 41.6666666667%
    }
    .offset-lg-6 {
        margin-left: 50%
    }
    .offset-lg-7 {
        margin-left: 58.3333333333%
    }
    .offset-lg-8 {
        margin-left: 66.6666666667%
    }
    .offset-lg-9 {
        margin-left: 75%
    }
    .offset-lg-10 {
        margin-left: 83.3333333333%
    }
    .offset-lg-11 {
        margin-left: 91.6666666667%
    }
    .g-lg-0,
    .gx-lg-0 {
        --bs-gutter-x: 0
    }
    .g-lg-0,
    .gy-lg-0 {
        --bs-gutter-y: 0
    }
    .g-lg-1,
    .gx-lg-1 {
        --bs-gutter-x: 0.25rem
    }
    .g-lg-1,
    .gy-lg-1 {
        --bs-gutter-y: 0.25rem
    }
    .g-lg-2,
    .gx-lg-2 {
        --bs-gutter-x: 0.5rem
    }
    .g-lg-2,
    .gy-lg-2 {
        --bs-gutter-y: 0.5rem
    }
    .g-lg-3,
    .gx-lg-3 {
        --bs-gutter-x: 1rem
    }
    .g-lg-3,
    .gy-lg-3 {
        --bs-gutter-y: 1rem
    }
    .g-lg-4,
    .gx-lg-4 {
        --bs-gutter-x: 1.5rem
    }
    .g-lg-4,
    .gy-lg-4 {
        --bs-gutter-y: 1.5rem
    }
    .g-lg-5,
    .gx-lg-5 {
        --bs-gutter-x: 3rem
    }
    .g-lg-5,
    .gy-lg-5 {
        --bs-gutter-y: 3rem
    }
}

@media (min-width:1200px) {
    .col-xl {
        flex: 1 0 0%
    }
    .row-cols-xl-auto>* {
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-xl-1>* {
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-xl-2>* {
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-xl-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-xl-4>* {
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-xl-5>* {
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-xl-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto
    }
    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.3333333333%
    }
    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.6666666667%
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%
    }
    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.3333333333%
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.6666666667%
    }
    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%
    }
    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.3333333333%
    }
    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.6666666667%
    }
    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%
    }
    .offset-xl-0 {
        margin-left: 0
    }
    .offset-xl-1 {
        margin-left: 8.3333333333%
    }
    .offset-xl-2 {
        margin-left: 16.6666666667%
    }
    .offset-xl-3 {
        margin-left: 25%
    }
    .offset-xl-4 {
        margin-left: 33.3333333333%
    }
    .offset-xl-5 {
        margin-left: 41.6666666667%
    }
    .offset-xl-6 {
        margin-left: 50%
    }
    .offset-xl-7 {
        margin-left: 58.3333333333%
    }
    .offset-xl-8 {
        margin-left: 66.6666666667%
    }
    .offset-xl-9 {
        margin-left: 75%
    }
    .offset-xl-10 {
        margin-left: 83.3333333333%
    }
    .offset-xl-11 {
        margin-left: 91.6666666667%
    }
    .g-xl-0,
    .gx-xl-0 {
        --bs-gutter-x: 0
    }
    .g-xl-0,
    .gy-xl-0 {
        --bs-gutter-y: 0
    }
    .g-xl-1,
    .gx-xl-1 {
        --bs-gutter-x: 0.25rem
    }
    .g-xl-1,
    .gy-xl-1 {
        --bs-gutter-y: 0.25rem
    }
    .g-xl-2,
    .gx-xl-2 {
        --bs-gutter-x: 0.5rem
    }
    .g-xl-2,
    .gy-xl-2 {
        --bs-gutter-y: 0.5rem
    }
    .g-xl-3,
    .gx-xl-3 {
        --bs-gutter-x: 1rem
    }
    .g-xl-3,
    .gy-xl-3 {
        --bs-gutter-y: 1rem
    }
    .g-xl-4,
    .gx-xl-4 {
        --bs-gutter-x: 1.5rem
    }
    .g-xl-4,
    .gy-xl-4 {
        --bs-gutter-y: 1.5rem
    }
    .g-xl-5,
    .gx-xl-5 {
        --bs-gutter-x: 3rem
    }
    .g-xl-5,
    .gy-xl-5 {
        --bs-gutter-y: 3rem
    }
}

@media (min-width:1400px) {
    .col-xxl {
        flex: 1 0 0%
    }
    .row-cols-xxl-auto>* {
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-xxl-1>* {
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-xxl-2>* {
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-xxl-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-xxl-4>* {
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-xxl-5>* {
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-xxl-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto
    }
    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.3333333333%
    }
    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%
    }
    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.6666666667%
    }
    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%
    }
    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.3333333333%
    }
    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.6666666667%
    }
    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%
    }
    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.3333333333%
    }
    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.6666666667%
    }
    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%
    }
    .offset-xxl-0 {
        margin-left: 0
    }
    .offset-xxl-1 {
        margin-left: 8.3333333333%
    }
    .offset-xxl-2 {
        margin-left: 16.6666666667%
    }
    .offset-xxl-3 {
        margin-left: 25%
    }
    .offset-xxl-4 {
        margin-left: 33.3333333333%
    }
    .offset-xxl-5 {
        margin-left: 41.6666666667%
    }
    .offset-xxl-6 {
        margin-left: 50%
    }
    .offset-xxl-7 {
        margin-left: 58.3333333333%
    }
    .offset-xxl-8 {
        margin-left: 66.6666666667%
    }
    .offset-xxl-9 {
        margin-left: 75%
    }
    .offset-xxl-10 {
        margin-left: 83.3333333333%
    }
    .offset-xxl-11 {
        margin-left: 91.6666666667%
    }
    .g-xxl-0,
    .gx-xxl-0 {
        --bs-gutter-x: 0
    }
    .g-xxl-0,
    .gy-xxl-0 {
        --bs-gutter-y: 0
    }
    .g-xxl-1,
    .gx-xxl-1 {
        --bs-gutter-x: 0.25rem
    }
    .g-xxl-1,
    .gy-xxl-1 {
        --bs-gutter-y: 0.25rem
    }
    .g-xxl-2,
    .gx-xxl-2 {
        --bs-gutter-x: 0.5rem
    }
    .g-xxl-2,
    .gy-xxl-2 {
        --bs-gutter-y: 0.5rem
    }
    .g-xxl-3,
    .gx-xxl-3 {
        --bs-gutter-x: 1rem
    }
    .g-xxl-3,
    .gy-xxl-3 {
        --bs-gutter-y: 1rem
    }
    .g-xxl-4,
    .gx-xxl-4 {
        --bs-gutter-x: 1.5rem
    }
    .g-xxl-4,
    .gy-xxl-4 {
        --bs-gutter-y: 1.5rem
    }
    .g-xxl-5,
    .gx-xxl-5 {
        --bs-gutter-x: 3rem
    }
    .g-xxl-5,
    .gy-xxl-5 {
        --bs-gutter-y: 3rem
    }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px
    }
}

@media (max-width: 375px) {
    .floatright {
        display: none;
    }
    #hamburger {
        margin-top: 5px;
        margin-right: 50px;
        float: right;
        z-index: 10;
        cursor: pointer;
    }
    #hamburger .active::after {
        border: 2px solid white;
    }
    .menu {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
    #mobilenav {
        pointer-events: none;
        margin-left: -25px;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        transition: 1s ease-in;
        margin-top: -70px;
    }
    #mobilenav a {
        text-decoration: none;
        margin: 100px auto 0 auto;
        cursor: pointer;
        color: white;
        display: block;
    }
    #close {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 32px;
        width: 30px;
        height: 40px;
        z-index: 20;
        display: none;
    }
}